.back-face {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: rotateY(180deg);
  transition: transform 0.5s ease; /* Tambahkan transisi untuk efek yang halus */
}

.group:hover .back-face {
  display: block;
  transform: rotateY(0deg); /* Memutar kembali kartu saat dihover */
}

.group:hover .front-face {
  display: none;
}
